{#{% extends 'GameShop/base.html' %}#}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adding a game</title>
</head>
<body>
{# {% if request.user.is_admin == True %}#}
                        <form method="post" action="{% url 'GameShop:game_form' %}" enctype="multipart/form-data" >
                        {% csrf_token %}
                            {{ form | crispy }}
                        <button type="submit">Submit</button>
                        </form>
                        <div>
                            <p><a href="{% url 'GameShop:index' %}">Return to home</a></p>
                        <!-- *** Single Articles Area *** -->
{#                    {% endif %}#}
</div>
</body>
</html>