

{% block content %}
    {{ message }}
    <div class="row">
    {% for object in object_list %}
        <div class="col-sm-3">
            <p>Name: {{ object.name }}</p>
            <p>Price: ТГ{{ object.price }}</p>
            {% if object in request.user.profile.items.all %}
            <!-- add a button here to see the product -->
            You own this
            {% elif object in current_order_products %}
            <a href="{% url 'GameShop:profile' %}" class="btn btn-warning">Go to Cart</a>
            {% else %}
            <a href="{% url 'GameShop:add_to_cart' object.id %}" class="btn btn-warning">Add to Cart</a>
            {% endif %}
        </div>
    {% endfor %}
    <div>
        Recommendations
        <div class="row">

            {% for game in egame %}
                <div class="col-sm-3">
{#                {% for g in game %}#}
                <p>{{ game.name }}</p>
                <p>{{ game.price }}</p>
                <p>{{ game.game_rate }}</p>
{#{% endfor %}#}

                </div>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock content %}