{% extends 'GameShop/base.html' %}{% load crispy_forms_tags %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ games.name }} {% endblock title %}</h1>
        <p class=" text-muted">{{ games.creator }} | {{ games.date_release }}</p>
        <p class="card-text ">Genre(s): {% for genre in games.genres.all %} {{ genre }} |{% endfor %}</p>
      <p class="card-text ">Game rate: {{ games.game_rate | safe }}</p>
      <p class="card-text ">Price: {{ games.price | safe }}</p>
      <p class="card-text ">Mode: {{ games.mode | safe }}</p>
      </div>
    </div>
  <div>
{#      {% if rated == False %}#}
      <form method="post" action="{% url 'GameShop:rate_game' games.id%}">
    				{% csrf_token %}
    				-5<input type="radio" name="new_rating" value="-5">
    				-4<input type="radio" name="new_rating" value="-4">
    				-3<input type="radio" name="new_rating" value="-3">
    				-2<input type="radio" name="new_rating" value="-2">
    				-1<input type="radio" name="new_rating" value="-1">
    				1<input type="radio" name="new_rating" value="1">
    				2<input type="radio" name="new_rating" value="2">
    				3<input type="radio" name="new_rating" value="3">
    				4<input type="radio" name="new_rating" value="4">
    				5<input type="radio" name="new_rating" value="5">
    				<input type="submit" value="Value">
    			</form>
{#      {% endif %}#}
  </div>
{#    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}#}

{#    <div class="col-md-8 card mb-4  mt-3 ">#}
{#      <div class="card-body">#}
{#        <!-- comments -->#}
{#        <h2>{{ comments.count }} comments</h2>#}
{##}
{#        {% for comment in comments %}#}
{#        <div class="comments" style="padding: 10px;">#}
{#          <p class="font-weight-bold">#}
{#            <span class=" text-muted font-weight-normal">#}
{#              {{ comment.user }}#}
{#                <br>#}
{#                {{ comment.created_date }}#}
{#            </span>#}
{#          </p>#}
{#            {% if request.user.is_admin %}#}
{#            <a href="#" style="color:red;">Delete comment</a>#}
{#            {% endif %}#}
{#          {{ comment.text | linebreaks }}#}
{#        </div>#}
{#        {% endfor %}#}
{#      </div>#}
{#    </div>#}
{#    <div class="col-md-8 card mb-4  mt-3 ">#}
{#      <div class="card-body">#}
{#        {% if new_comment %}#}
{#        <div class="alert alert-success" role="alert">#}
{#          Your comment is awaiting moderation#}
{#        </div>#}
{#        {% else %}#}
{#        <h3>Leave a comment</h3>#}
{#        <form method="post" style="margin-top: 1.3em;">#}
{#          {{ comment_form | crispy }}#}
{#          {% csrf_token %}#}
{#          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>#}
{#        </form>#}
{#        {% endif %}#}
{#      </div>#}
{#    </div>#}
  </div>
</div>
{% endblock content %}