{% extends 'GameShop/base.html' %}{% load crispy_forms_tags %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ news.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ news.user }} | {{ news.date }}</p>
        <p class="card-text ">{{ news.description | safe }}</p>
      </div>
    </div>
{#    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}#}

    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        <!-- comments -->
        <h2>{{ comments.count }} comments</h2>

        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            <span class=" text-muted font-weight-normal">
              {{ comment.user }}
                <br>
                {{ comment.created_date }}
            </span>
          </p>
            {% if request.user.is_admin or comment.user == request.user %}
            <a href="{% url 'GameShop:delete_comment' comment.id %}" style="color:red;">Delete comment</a>
{#                <form action="{% url 'GameShop:delete_comment' comment.id %}" style="color: red" method="POST">#}
{#                        {% csrf_token %}#}
{#                        <input type="hidden" name='comment_id' value="{{ comment.id }}">#}
{#                        <input type="submit" name="submit" value="DELETE COMMENT">#}
{#                    </form>#}
            {% endif %}
          {{ comment.text | linebreaks }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
      {% if request.user.is_authenticated %}
{#        {% if new_comment %}#}
{#        <div class="alert alert-success" role="alert">#}
{#          Your comment is awaiting moderation#}
{#        </div>#}
{#        {% else %}#}
        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">{% csrf_token %}
          {{ comment_form | crispy }}

          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
{#        {% endif %}#}
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}