{#{% extends 'GameShop/base.html' %}#}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
                        <strong style="align-content: center;color: #1abc9c;caption-side: top;margin-left: 100px;">
                            <form method="post" action="{% url 'GameShop:news_form' %}" name="news-form">
                        {% csrf_token %}
                            {{ form |crispy}}
                        <button type="submit">Submit</button>
                        </form>
                        </strong>
</div>
</body>
</html>