{% block content %}
<html>
<head>
	<title>Profile Card</title>
	<link rel="stylesheet" type="text/css" href="../../static/GameShop/pstyle.css">
</head>

<body>
<div class="wrapper">
    <div class="left">
        <img src="../../static/GameShop/img/core-img/usericon.png" alt="user" width="100">
        <h4>{{ request.user.username }}</h4>
         <p>Welcome to profile!</p>

            {% if request.user.is_admin %}
                <a href="{% url 'GameShop:users' %}">Admin panel</a>
            {% endif %}

    </div>
{#{% if request.user.is_admin %}#}
{#{% for users in userx %}#}
{#       {{ users }}#}
{#        <h1>dqwdwqd</h1>#}
{#{% endfor %}#}
{#{% endif %}#}
    <div clas="right">
        <div class="info">
            
            <div class="social_media">
            <ul>
                <h3>Information</h3>
                {% if not request.user.is_admin %}
              <a href="{% url 'GameShop:delete_user' request.user.id %}">Delete profile</a>
                {% endif %}
          </ul>
      </div>
            <div class="info_data">
                 <div class="data">
                    <h4>Email</h4>
                    <p>{{ request.user.email }}</p>
                 </div>
                 <div class="data">
                   <h4>Balance</h4>
                    <p>{{ request.user.profile.balance }}</p>
              </div>
            </div>
        </div>
        
      
      <div class="projects">
            <h3>Games</h3>
            <div class="projects_data">
                 <div class="data">
                    <h4>Recent bought</h4>
{#{% for game in user_games.all %}#}
{#    {% for item in game %}#}
{#        {{ item }}#}
{#        {% endfor %}#}
{#                     {% endfor %}#}
                 </div>
                 <div class="data">
                   <h4>Most Played</h4>
                    <p>CSGO 1.6</p>
              </div>
            </div>
        </div>
      <div class="projects"><h3>Basket</h3>
      <div class="projects_data"><table class="table table-hover table-bordered text-center">
      <tr class="text-center">
        <th>Date Ordered</th>
        <th>Reference Code</th>
        <th>Items</th>
        <th>Price</th>
      </tr>
      {% for order in my_orders %}
        <tr>
          <td>{{ order.date_ordered }}</td>
          <td>{{ order.ref_code }}</td>
          <td>
        	{% for itemm in order.items.all %}
        		<a href="{% url 'GameShop:games_detail' itemm.game.id %}">{{ itemm.game }}</a>
{#                <a href="{% url 'GameShop:buygame' itemm.game.id %}">Buy game</a>#}

      	  </td>
          <td>   {{ itemm.game.price }} Тенге <a href="{% url 'GameShop:delete_item' itemm.id %}">Delete game</a></td>

        </tr>
            {% endfor %}
      {% empty %}
        <tr>
          <td colspan= 4> You have no orders.</td>
        </tr>
      {% endfor %}
      <tr>
        <td colspan=4>
          <a href="{% url 'GameShop:game_list' %}" class="btn btn-warning pull-left">
            {% if not order %}Continue Shopping{% else %}Add Items to Cart {% endif %}
          </a>
        </td>
      </tr>
    </table></div>
      </div>
        
    </div>
</div>
    </body>
</html>


{##}
{#<table class="table table-hover table-bordered text-center">#}
{#      <tr class="text-center">#}
{#        <th>Date Ordered</th>#}
{#        <th>Reference Code</th>#}
{#        <th>Items</th>#}
{#        <th>Price</th>#}
{#      </tr>#}
{#      {% for order in my_orders %}#}
{#        <tr>#}
{#          <td>{{ order.date_ordered }}</td>#}
{#          <td>{{ order.ref_code }}</td>#}
{#          <td>#}
{#        	{% for item in order.items.all %}#}
{#        		{{ item.product.name }}#}
{#      		{% endfor %}#}
{#      	  </td>#}
{#          <td>${{ order.get_cart_total }}</td>#}
{#        </tr>#}
{#      {% empty %}#}
{#        <tr>#}
{#          <td colspan= 4> You have no orders.</td>#}
{#        </tr>#}
{#      {% endfor %}#}
{#      <tr>#}
{#        <td colspan=4>#}
{#          <a href="{% url 'GameShop:game_list' %}" class="btn btn-warning pull-left">#}
{#            {% if not order %}Continue Shopping{% else %}Add Items to Cart {% endif %}#}
{#          </a>#}
{#        </td>#}
{#      </tr>#}
{#    </table>#}
{% endblock content %}